/*Do not do anything in this code, we hope you enjoy BirdOS 5.0!*/

/*BirdOS 5.0*/

@import "colors.css";

* {
  border: none;
  border-radius: 0px;
  font-family: "SF Pro Display", "JetBrainsMono Nerd Font Propo";
  padding: 0;
  margin: 0;
  min-width: 10px;
}

window#waybar {
  background: transparent;
}
tooltip {
  background: @background;
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: @on_surface;
}

#workspaces {
background: alpha(@background, 0.5);
border-style: solid;
border-width: 9px;
background-clip: padding-box;
border-color: alpha(@background, 0.5);
margin: 5px 7px;
border-radius: 7px;
font-weight: normal;
font-style: normal;
}

#workspaces button {
color: transparent;
background-color: @on_primary;
border-radius: 7px;
padding: 1px 6px;
margin: 2px 2px;
animation: gradient_f 20s ease-in infinite;
transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}


#workspaces button.active {
color: transparent;
padding: 1px;
margin: 5px 0;
padding: 1px 6px;
margin: 2px 2px;
background: linear-gradient(90deg, @on_primary 0%, @primary 100%);
border-radius: 9999px;
min-width: 50px;
animation: gradient_f 20s ease-in infinite;
transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}





#workspaces button:hover {
background: linear-gradient(90deg, @primary 0%, @on_primary 100%);
border-radius: 9999px;
margin: 5px 0;
color: @on_surface;
padding: 1px 6px;
margin: 2px 2px;
transition: all 0.3s ease-in-out;
}

#workspaces button.urgent {
border-radius: 9999px;
padding: 1px;
margin: 5px 0;
padding: 1px 6px;
margin: 2px 2px;
color: @on_surface;
background-color: @error;
box-shadow: @error;
border: 3px @error;
animation: urgentBlink 1s linear infinite alternate;
}


@keyframes urgentBlink {
  to {
    background-color: @error;
  }
}

#mode, #clock, #battery {
padding: 0 10px;
}

#mode {
background: #64727D;
border-bottom: 3px solid white;
}


#pulseaudio-slider {
padding: 0;
margin: 0 15px;
}


#pulseaudio-slider slider {
border-radius: 5px;
min-height: 10px;
color: @on_surface;
}


#pulseaudio-slider trough {
min-width: 150px;
min-height: 10px;
border-radius: 5px;
background-color: alpha(@background, 0.3);
}


#pulseaudio-slider highlight {
border-radius: 5px;
background: linear-gradient(90deg, @on_primary 0%, @primary 100%);
}



#battery:hover,
#pulseaudio:hover,
#power-profiles-daemon:hover,
#custom-appmenu:hover,
#custom-quick:hover,
#custom-off:hover,
#network:hover {
background: linear-gradient(90deg, @on_primary 0%, @primary 100%);
border-radius: 7px;
}


#battery,
#group-misc,
#pulseaudio,
#power-profiles-daemon,
#custom-appmenu,
#custom-quick,
#custom-off,
#network {
color: @on_surface;
transition: all 0.3s ease-in-out;
margin: 7px;
padding: 5px 15px;
border-radius: 7px;
background-color: alpha(@background, 0.5);
}
